body {
	background: url("red.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.return {
	margin-top: 450px;
	height: 90px;
	line-height: 90px;
	text-align: right
}

h1 {
	font-size: 350%;
}

.active {
	text-decoration: none;
	color: black;
	background-color: #4CAF50;
	font-size: 24px;
	padding: 14px 40px;
	border-radius: 7px;
}