
html { 
  background-color: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	
margin-top: 200px;
height: 90px; 
line-height: 90px;
text-align: center

}

h1{
	font-size: 350%;
}

.active {
	text-decoration : none;
	color : black;
	background-color: #4CAF50;
	font-size: 24px;
	padding: 14px 40px;
	border-radius: 7px;
	
}